html{
    background: linear-gradient(-45deg, #fcfc03, #0303fc);
}

h1{
    text-align: center;
    font-size: 3rem;
}

.container, html{
    height: 100%;
    box-sizing: content-box;
}

.grid{
    width: 600px;
    height: 600px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    border: black 1px solid;
}

.sketch{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c40000;
    padding: 20px 0px;
    width: 1200px;
    margin: auto;
    border-radius: 50px;
}

.square{
    /*border: lightgrey 1px solid;*/
    background: white;
    border-collapse: collapse;
}

.square:hover{
    background: cyan;
}

.part{
    border: blue 1px dotted;
    height: 600px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0px 20px;
    align-items: center;

}

.gridControl{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.squareControl{
    display: flex;
    flex-direction: column;
}

.clearGrid{
    background-color: hsl(44, 0%, 41%);
    color: hsl(0, 0%, 85%);
    border: none;
    border-radius: 10px;
}

#squareRange{
    cursor: grab;
}

.colorsChoices{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    flex-wrap: wrap;
    justify-content: center;
}

.color{
    height: 80px;
    width: 80px;
    border: black 1px solid;
    border-radius: 10px;
}

.whiteColor{
    background-color: white;
}

.blackColor{
    background-color: black;
}

.rainbowColor{
    background: linear-gradient(to left top, #fc0303, #fcfc03, #03fc03, #03fcfc, #0303fc, #fc03fc);
}

#colorSelect{
    background: linear-gradient(45deg,blue, green, red);
}

.premakeGrids{
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    gap: 30px;
}

.premakeGrids button{
    background-color: #1078ff;
    font-size: 1rem;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
}

.actual{
    border: #0303fc 1px double;
    border-radius: 20px;
    height: 100px;
    width: 80%;
    margin-top: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.showGrid{
    background-color: #1078ff;
}

.showColor{
    background-color: yellow;
}