.grid{
    width: 600px;
    height: 600px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    border: black 1px solid;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    /*border: grey 1px solid;*/
    background: white;
}

.square:hover{
    background: cyan;
}